## control flow and conditional statements

1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
largest = 0
for i in numbers:
   if largest < i:
       largest = i
print(f"The largest number is: {largest}")

The largest number is: 525

2. **Print all the even number between (1, 12).**

In [ ]:
for i in range(1,12):
 if i%2 != 0:
   continue
 print(i)

2
4
6
8
10

3. **Calculate the sum of all numbers from 1 to a given number**
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [2]:
num=int(input("Enter a integer number: "))
sum=0
for i in range(1,num+1):
    sum+=i              #adding each number in list with sum
print(f"Sum is: {sum}")

Enter a integer number: 10
Sum is: 55

4. **Write a program to display only those numbers from a list that satisfy the following conditions**

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [ ]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:

    if i % 5 == 0:
         if i > 150:
            continue
         if i > 500:
            break
         print(i)

75
150
145
50

 5. Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]

In [3]:
list1 = [10, 20, 30, 40, 50]
for i in reversed(list1):
    print(i,end=" ")

50 40 30 20 10